html{font-family:Helvatica,Arial,sans-serif;}
div.table{position:relative;font-size:9px;}div.table div.row{position:absolute;overflow:hidden;}div.table div.row div.column{display:inline-block;height:100%;white-space:nowrap;overflow:hidden;}
