html {
  font-family: Helvetica,Arial,freesans,clean,sans-serif;
  height: 100%;

  body {
    height: 100%;
  }
}

.cont {
  padding-bottom: 150px;
  border-bottom: 1px solid black;

  h1 {
    margin: 0;
    font-size: 30px;
  }

  h2 {
    margin: 0;
    font-size: 18px;
    color: gray;
  }

  .example {
    margin-top: 8px;

    svg {
      //border: 1px solid black;
    }
  }
}

.test-cont {
  position: relative;
  height: 100%;

  textarea#input {
    position: absolute;
    top: 27px;
    bottom: 40px;
    width: 48%;
    margin: 0;
    font-family: monospace;
    font-size: 14px;
  }

  pre#output {
    position: absolute;
    top: 27px;
    bottom: 40px;
    right: 0;
    width: 48%;
    border: 1px solid black;
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    overflow: scroll;
  }

  button#send {
    position: absolute;
    bottom: 13px;
    left: 50%;
    margin-left: -20px;
  }

  div.button-bar {
    position: absolute;
    bottom: 13px;
    left: 0;
  }

  div.time-show {
    position: absolute;
    bottom: 17px;
    right: 0;
  }
}




















