html {
  font-family: Helvetica,Arial,freesans,clean,sans-serif;
}

.filler {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 400px;
  font-size: 180px;
}

.cont {
  padding-bottom: 150px;
  border-bottom: 1px solid black;

  h1 {
    margin: 0;
    font-size: 30px;
  }

  h2 {
    margin: 0;
    font-size: 18px;
    color: gray;
  }

  .example {
    margin-top: 8px;

    svg {
      //border: 1px solid black;
    }
  }
}
